* {
    box-sizing: border-box;
    }
body {
    background-color:powderblue;   
}
.container {
    background-color:powderblue; 
    height:500px
}

#analyse {
    background-color:yellow;
    height: 500px;
}
#reloader {
    position: relative;
    background-color: lightblue;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}
#score{
    background-color: white;
    float: right;
    width: 20%;
    margin-right: 50px;
    }
#scoreb{
    position: absolute;
    background-color: white;
    right: 20px;
    top: 20px;
    width: 25%;
    }

       