<!-- Main user page
        uses jquery to get new messages from message.html
        and provide a form from structure.html to analyse any message
-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css" type="text/css" />
        <title>My English Chat Page</title>
    </head>
<body>
    <div class="container" >
        <div id="chat" class="col-left">
            <h1 id="hello">Hello {{username}} </h1>
            <div id="score">Total Score:{{my_score}}</div>
            <form method="POST" name="message">
                <label for="line">Your message</label>
                <input type="text" name="message" id="message" required/>
                <br>
                <input type="hidden" name="form" value="message"/>
                <input type="submit" value="Submit"/>
            </form>
            <h3>Online now ({{chatters}}): 
                {%for user in users%}
                {{user}},
                {%endfor%}
            </h3>
            <div id="reloader">
                {%for chatline in chat_messages%}
                {{chatline}}<br>
                {%endfor%}
            
                <div id="scoreb"> Leaderboard:
                    <br>{%for k in leaderboard%}
                        {{k}}: {{score[k]}}<br>
                        {%endfor%}
                </div>
            </div>
            
        </div> 
        <div id="analyse" class="column">
            <h2 id="header">Here you can analyse the structure of your phrases</h2>
            <h4>Enter the line number you want to analyse and the type of phrase as statement or question</h4>
            <h3>Cooperate or challenge</h3>
            <form method="POST" name="structure" id="structure">
                <label for="line">Line Number</label>
                <input type="text" name="line" id="line" required/>
                <br>
                <label for="type">Phrase type</label>
                <input type="text" name="type" id="type"/>
                <br>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script>
        jQuery.get( "/chat/structure").then(function(text, status, xhr){
                jQuery("#analyse").html(text);
            });
            
        var user = jQuery("#hello").text()
        var newMessageCheck = setInterval(function() { 
            var timer = Date.now();
            $( "#timer" ).html("timenow=" + timer/1000 );
            console.log(timer/1000);
            // 1.get new messages + 2.send usernameto be timestamped
            jQuery.get( "/chat/messages?user=" + user).then(function(text, status, xhr){
                jQuery("#reloader").html(text);
            });
        }, 5000);
    </script>
    
    <!--
     -->
</body>
</html>
