<!DOCTYPE html>
<html>
    <head>
        <title>My English Chat Page</title>
        <style type="text/css">
            * {
                box-sizing: border-box;
                }
            .column {
                float: left;
                width: 50%;
                padding: 10px;
                }
        </style>
    </head>
<body>
    <div class="container" style="background-color:powderblue; height:500px">
        <div id="chat" class="column" style="background-color:powderblue;">
            <h1>Hello {{username}} </h1>
            <form method="POST">
                <label for="line">Your message</label>
                <input type="text" name="message" id="message"/>
                <br>
                <input type="submit" value="Submit"/>
            </form>
            <h3>Online now ({{chatters}}): 
                {%for user in users%}
                {{user}},
                {%endfor%}
            </h3>
    
            {%for chatline in chat_messages%}
            {{chatline}}<br>
            {%endfor%}
        </div>
        <div id="analyse" class="column" style="background-color:yellow;">
            <h2>Here you can analyse the structure of your phrases</h2>
            <h4>Enter the line number you want to analyse and the type of phrase as statement or question</h4>
            <form method="POST" name="structure" id="structure">
                <label for="line">Line Number</label>
                <input type="text" name="line" id="line"/>
                <br>
                <label for="type">Phrase type</label>
                <input type="text" name="type" id="type"/>
                <br>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
    <script>
     //   setTimeout(function() { window.location.reload();}, 5000);
    </script>
</body>
</html>
