<!DOCTYPE html>
<html>
    <head>
        <title>Learning English Chatroom</title>
    </head>
<body>
    
    <h1>Hello chatterbox! </h1>
    <h2>Learn correct English while chatting to your friends</h2>
    <h3>Your errors will be shown in brackets []</h3>
    <p>Sign in below and you will be taken to your personal chat page.</p>
    <form method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="usename"/>
        <input type="submit" value="Submit"/>
    </form>
    
</body>
</html>
