<!DOCTYPE html>
<html lang="en">
<head>
    <title>Structure</title>
</head>
<body>
    <div id="analyse" class="col-xs-12 col-sm-4">
            <h3 id="header">Here you can analyse <br>the structure of phrases</h3>
            <h4>Enter the line number you want to analyse <br>
                then select the type of the phrase</h4>
            
            <form method="POST" name="structure">
                <input type="radio" name="cc" value="chal" required> Challenge<br>
                <label for="line">Line Number</label>
                <input type="text" name="line" id="line" maxlength="3" size="3" required/>
                <br>
                <br>
                I say, this line is a:<br>
                <input type="radio" name="sq" value="stat" required/> Statement, but incorrect<br>
                <input type="radio" name="sq" value="ques"/> Question, but incorrect<br>
                
                <br>
                <input type="hidden" name="form" value="structure"/>
                <input type="submit" value="Submit"/>
            </form>
            
        <div id="result">
            <br>
            <h5>Challenge result:</h5>
            {{result}}
        </div>
    </div>
</body>
</html>