<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
    <div id="analyse" class="col-right">
            <h2 id="header">Testing </br>the structure of phrases</h2>
            <h4>Enter the line number you want to analyse </br>
                then select the type of the phrase</h4>
            
            <form method="POST" action="" name="structure">
                <input type="radio" name="cc" value="test" required> Test<br>
                <label for="line">Line Number</label>
                <input type="text" name="line" id="line" maxlength="3" size="3"/>
                <br>
                This line number is a:<br>
                <input type="radio" name="sq" value="stat" required/> Statement, but incorrect<br>
                <input type="radio" name="sq" value="ques"/> Question, but incorrect<br>
                
                <br>
                <input type="hidden" name="form" value="structure"/>
                <input type="submit" value="Submit"/>
            </form>
            
        <div id="result">
            <h5>Test result:</h5>
            {{result}}
        </div>
    </div>
</body>
</html>